#%RAML 1.0
title: WalletRecargas
version: v0
baseUri: http://api.samplehost.com

/Accounts:
    description: Collection of accounts of a client
    get:
      description: get a list of all of the accounts associated with a client
      responses:
        200:
          body:
            application/json:
              example: |
                {
                "accounts": [
                  {
                    "accountId": "9685",
                    "clabe": "452565296552854125"
                  },
                  {
                    "accountId": "5454",
                    "clabe": "774854185419566566"
                  },
                  {
                    "accountId": "5415",
                    "clabe": "744521654156156651"
                  }
                ]
                }

    post:
      description: associate a bank an a clabe number to a client account
      queryParameters:
        banco:
          description: Bank associated to the account of the client
          required: true
          minLength: 10
          type: string
          example: "Bancomer BBVA"
        clabe:
          description: clabe number associated to the accoutn of the client
          required: true
          minLength: 18
          type: string
          example: "532488613284563125"
    /{cuenta}:
      get:
        description: retrieve a single account by its id
        responses:
          200:
            body:
              application/json:
                example:
                  {
                    "accountId": "9685",
                    "clabe": "452565296552854125"
                  }
